body {
    background-color: #ffe9c0;
}
.container {
    display: grid;
    place-items: center;
    background-color: #fff;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}